{% extends 'base.html' %}

{% block title %}
    Описание теста
{% endblock %}

{% block header %}
    Тест: {{ exam.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Описание</td>
                            <td>{{ exam.description }}</td>
                        </tr>
                        <tr>
                            <td>Кол-во вопросов</td>
{#                            <td>{{ exam.questions.count }}</td>#}
                            <td>{{ exam.questions_count }}</td>
                        </tr>
                        <tr>
                            <td>Кол-во запусков</td>
                            <td>{{ exam.results.count }}</td>
                        </tr>
                        <tr>
                            <td>Лучший результат</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Кто получил лучший результат</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Последний запуск</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
              </table>
            </div>
        </div>
        <div class="row">
            <form action="{% url 'quizzes:result_create' exam.uuid %}" method="post"
                  class="d-flex justify-content-center mt-5 mb-2">
                {% csrf_token %}
                <a class="btn btn-primary m-3" href="{% url 'quizzes:list' %}">Вернуться к списку тестов</a>
                <input class="btn btn-success m-3" type="submit" value="СТАРТ >">
            </form>
        </div>
{#        {% if result_list %}#}
        {% if object_list %}
        <table class="table table-striped table-hover">
            <tr>
                <th></th>
                <th>Дата старта</th>
                <th>Баллы</th>
                <th>Статус</th>
                <th>Обработано<br>вопросов</th>
                <th>Действия</th>
            </tr>
{#            {% for result in result_list %}#}
            {% for result in object_list %}
            <tr>
                {% if is_paginated %}
                    <td><b>{{ forloop.counter0|add:page_obj.start_index }}</b></td>
                {% else %}
                    <td><b>{{ forloop.counter }}</b></td>
                {% endif %}
                <td>{{ result.create_timestamp }}</td>
                <td>{{ result.scores_result }}</td>
                <td>{{ result.get_state_display }}</td>
                <td>{{ result.current_order_number }}</td>
                <td>
                    {% if result.state == result.STATE.NEW %}
                        <a class="btn btn-warning btn-sm" href="{% url 'quizzes:result_update' exam.uuid result.uuid %}">
                            Продолжить
                        </a>
                        <a class="btn btn-danger btn-sm" href="{% url 'quizzes:result_delete' exam.uuid result.uuid %}">
                            Удалить
                        </a>
                    {% else %}
                        <a class="btn btn-success btn-sm" href="{% url 'quizzes:result_details' exam.uuid result.uuid %}">
                            Посмотреть
                        </a>
                        <a class="btn btn-danger btn-sm" href="{% url 'quizzes:result_delete' exam.uuid result.uuid %}">
                            Удалить
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
        <div class="p-1 m-1">
            {% include 'includes/pagination.html' %}
        </div>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}
