{% extends 'base.html' %}

{% load custom_tags %}

{% block title %}
    Описание теста
{% endblock %}

{% block header %}
    <b>{{ question.order_num }}</b>. {{ question.text }}
{#    {% with question.order_num|add:-1|multi:100|dived:question.exam.questions_count as progress_level %}#}
    {% expression '(%1 - 1) * 100 // %2' question.order_num question.exam.questions_count as progress_level %}
    <div class="progress m-2"  style="height: 25px;">
      <div class="progress-bar" role="progressbar" style="width: {{ progress_level }}%"
           aria-valuenow="{{ progress_level }}" aria-valuemin="0" aria-valuemax="100"><font size="4">{{ progress_level }}%</font></div>
    </div>
{#    {% endwith %}#}
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ choices.management_form }}
{#            <div class="border-button mb-3">#}
{#                Пожалуйста, выберите ОДИН правильный ответ:#}
{#            </div>#}
            {% for form in choices %}
                <div class="mt-1">
                    {{ form.is_selected }} <label for="{{ form.is_selected.id_for_label }}">
                        {{ form.text.value }}
                    </label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success mt-5">Дальше ></button>
        </form>
    </div>
{% endblock %}
